{
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSameLine": false,
  "endOfLine": "lf",
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "bracketSpacing": true
}
